<header class="cabecalho">
        <a href="#" class="cabecalho__logo"></a>
        <nav class="menu" data-menu >
            <link rel="stylesheet" href="../assets/global.css">
            <button class="menu__botao" aria-label="Abrir Menu"
            aria-expanded="false">
                Menu
                <span class="menu__hamburguer"></span>
            </button>
            <ul class="menu__lista" id="menu-lista">
                <li><a href="#" data-link="home">Home</a></li>
                <li><a href="#" data-link="sobre">Sobre</a></li>
                <li><a href="#" data-link="produtos">Produtos</a></li>
                <li><a href="#" data-link="portfolio">Portfolios</a></li>
                <li><a href="#" data-link="contato">Contato</a></li>
            </ul>
        </nav>
    </header>